<div class="homepageC">
    <div class="homeRow">
        <div class="homeImg">
            <img src=".\assets\IMG_20191220_140105.jpg" >
        </div>
        <div class="description">
            <h3>
                Intro to Backband Workshop
            </h3>
            <h4>
                What would you find here:
            </h4>
            <p>       
                In this intense workshop, we are working in a small group. We'll be going back to basics on how to approach a safe curve for the spine. You'll have enough space and time to really get to grips with what you need to know when you are ready for a wheel pose.
                We warm up the body, which is followed by standing and sitting poses, then finally going through some Asanas to build strength to the core for a peak pose, after that cooling down our body with a closing sequence. We hold asanas for 5 deep breaths and notice them.
            </p>
        </div>
    </div>
    <div class="homeRow nopaddingTop">
            <div class="description">
            <h4>
                Areas covered include:
            </h4>
            <p>
                Wrist, shoulder, core strength and mobility
                Integrate your muscles to keep you safe and strong in backbends
                Practices by the wall
                Safe entry and exit
            </p>
            <p>
                Come and join us to have fun on Friday to keep a Healthy Spine Day together.
                2.5 hour London based workshop 
                Early bird rate: £25
                ​Regular Price: £35
                All levels and abilities are warmly welcomed!
            </p>
        </div>
    </div>
</div>