
<div class="homepageC">
        <div class="homeRow">
            <div class="homeImgPortrait">
                <img src=".\assets\IMG_20191220_135501.jpg">
            </div>
            <div class="description">
                <h3>
                    Yoga Retreat
                </h3>
                <p>
                    Would you like to work on your strength and flexibility, learn more from yoga methods and meditation? 
                    Join us for a 5-day Yoga Retreat in Morocco on the 10th of June – 15th of June in 2020.
                </p>
                <p>
                    Based in a traditional Hotel & Spa Riad which is set in the heart of Marrakech Medina. The rooms and suites at Riad combines a contemporary and Moroccan style. Each room shared with a maximum of 3 people,and equipped with air conditioning. Additional facilities at this Riad include an indoor pool and a restaurant, an on-site spa, a hot tub, and a massage room. There is also a rooftop terrace, where you can try the continental breakfast and admire the panoramic views. It makes scenic locations for morning and evening classes. 
                    The retreat provides a mixture of Hatha classes and traditional Iyengar style yoga. Instruction in asana (postures that hone core strength and flexibility), also you will learn meditations and breathing techniques.
                </p>
            </div>   
        </div>
<!-- </div>
<div class="homepageC"> -->
        <div class="homeRow nopaddingTop">    
                <div class="description ">
                <h4>
                    Daily Schedule
                </h4>
                    <p>
                        What will be found here?
                    </p>
                    <ul>
                        <li>
                            Day 1 <br>
                            Arrival in a traditional riad, Opening ceremony by having a tea
                        </li>
                        <li>
                            Day 2 <br>
                            Morning yoga (Awakening the body with Sun salutation)
                            Breakfast
                            Offering one day guided trip, camel riding in the desert, by the Atlas mountains.
                            Arrive back to the Riad 
                        </li>
                        <li>
                            Day 3 <br>
                            Meditations and breathing techniques
                            Breakfast
                            Walking tour together in Medina, market street food
                            Arrive back, and closing the day with Moon salutation in the sunset
                        </li>
                        <li>
                            Day 4 <br>
                            Morning yoga
                            Breakfast
                            Free time for reading, sun-bathing, relaxing near the pool, city tour, shopping
                            Afternoon tea together in the Riad
                        </li>
                        <li>
                            Day 5 <br>
                            Meditations and breathing techniques
                            Breakfast
                            Check out
                        </li>
                    </ul>
                    <h4>
                        The price includes:
                    </h4>
                    <ul>
                        <li>
                            5 nights in shared rooms, single room available for extra fee
                        </li>
                        <li>
                            Breakfast                             
                        </li>
                        <li>
                            Free WiFi access available                            
                        </li>
                        <li>
                            Free coffee or tea                           
                        </li>
                        <li>
                            Daily yoga practices     
                        </li>
                        <li>
                            Guided tour to the desert, including a traditional Berber cuisine
                        </li>
                    </ul>
                    
                    <p>
                        Prices start from £750 for a 5-night stay. Contact me with questions or book by email. All levels and abilities are warmly welcomed!
                    </p>
                    
            </div>
        </div>
</div>