<h2>About Me</h2>
<div>
    <div>
        <p>My story begins when I arrived to England. 
                This is where I first met Yoga.
                Sport always been an important part of my life, so I was open to trying it out.
                First I just practiced at home, watching videos, after I decided to go to my local gym, where I attended to yoga (Hatha) and Pilates classes.
                When I was stepping on the yoga mat and started practicing Surya Namaskar, it was a fantastic feeling, physically and mentally filled up me, I was reborn.
        </p>
        https://material.io/resources/icons/?icon=filter_vintage&style=outline
    </div>
    <div>
        <img>
    </div>
</div>


<!-- <p>       
        After that, I was searching to the opportunity to practicing yoga and I decided to change my lifestyle and that I could focus on yoga. Therefore I decided to apply in a 200 hour yoga teacher training course.
        That's how I found Elton Heather's yoga course. The training was very diverse. I learned a lot of things about Asanas and thus meaningful practices that can help purify.
        She taught us that yoga is more than just exercise, not just a series of asanas, it's much more.
        I would like to proceed to be better myself, and push my limits even further and show it to others how can they practice yoga and relax as a sport what can move every muscle in the whole body. 
    </p>
    <p>        
        Other than yoga I do different sports as well, like indoor climbing and practicing contortionist. I like the deep and slow stretching. 
        Iona Luvsandorj Denning is my performer contortion trainer. She works on our adequate flexibility, handstand and contortion during the class. Help us to keep the right positions in the stretching.
        I would like to pass through all of this knowledge and experience to my students.
        I not want to just practice yoga, I want to pass on to as many people as possible this knowledge, and positive experiences that have fundamentally changed my life.
    </p>
    <p>       
        Would you like to work on your strength and flexibility, learn more from yoga methods and meditation to reach your goals?
        Yoga can help to feel better yourselves as mentally and physically. Its relaxing you after the long busy days, and give us vitality.
        Yoga helps purify, improve digestion, positively give shape our body, healing our spine health and play an important role in stress relief.
        I am sure that if you try it, you will feel these positive effects in the short term.
    </p>
    <p>       
        Workshops.
        I always wanted to change my life and do as what i like. 
        Yoga be apart of my passion.</p> -->