
/* .firstPara{
    padding-left:15px;
    float:left;
    width:35%;
}
.firstPic{
    float:left;
    background-color:lightgray;
    width:55%;
    height:250px;
    padding-right:15px;
    margin-left:35px;
}
.section{
    margin: 15px 0;
    display:inline-block;
    width:100%;
    max-width:1200px;
}
.cardTitle{
    font-size: 40px;
}

.firstStep{
    margin:25px;
}

.contactCard{
    width:300px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.card{
    margin:10px;
} */
.contacts{
    color:black;
}
@media (max-width:700px) {
    .homeRow{
        display:block;
    }
    .homeImg {
        max-width: 100%;
    }
    .homeImg img, .homeImgPortrait img{
        max-width:100%;
        max-height:100%;
        margin:0;
        text-align: center;
    }
}

#homeContainer{
    overflow-y: scroll; 
    height: 90vh;
}