<div id="homeContainer" #homeContainer >
    <div class="toTop"></div>
    <div class="homepageC " #homepage id="homepage">
        <div class="homeRow">
            <div class="homeImg">
                <img src=".\assets\photo1.jpg">
                <!-- <img src=".\assets\20170728_110710.jpg"> -->
            </div>
            <div class="description">
                <h2>About Me</h2>
                <p>My story begins when I arrived to England. 
                    This is where I first met Yoga.
                    Sport always been an important part of my life, so I was open to trying it out.
                    First I just practiced at home, watching videos, after I decided to go to my local gym, where I attended to yoga (Hatha) and Pilates classes.
                    When I was stepping on the yoga mat and started practicing Surya Namaskar, it was a fantastic feeling, physically and mentally filled up me, I was reborn.
            </p>
            </div>
        </div>
    </div>
    <div  class="homepageC backgroundImage2">
        <div class="homeRow reverse">
            <div class="homeImgPortrait">
                <img src=".\assets\IMG_20191220_135258.jpg">
            </div>
            <div class="description">
                <h2>Yoga with Me</h2>
                <p>After that, I was searching to the opportunity to practicing yoga and I decided to change my lifestyle and that I could focus on yoga. Therefore I decided to apply in a 200 hour yoga teacher training course.
                    That's how I found Elton Heather's yoga course. The training was very diverse. I learned a lot of things about Asanas and thus meaningful practices that can help purify.
                    She taught us that yoga is more than just exercise, not just a series of asanas, it's much more.
                    I would like to proceed to be better myself, and push my limits even further and show it to others how can they practice yoga and relax as a sport what can move every muscle in the whole body. 
                </p>
            </div>
        </div>
    </div>
    <div  class="homepageC ">
        <div class="homeRow">
            <div class="homeImg">
                <img src=".\assets\photo2.jpg">
            </div>
            <div class="description">
                
                    <p>        
                        Other than yoga I do different sports as well, like indoor climbing and practicing contortionist. I like the deep and slow stretching. 
                        Iona Luvsandorj Denning is my performer contortion trainer. She works on our adequate flexibility, handstand and contortion during the class. Help us to keep the right positions in the stretching.
                        I would like to pass through all of this knowledge and experience to my students.
                        I not want to just practice yoga, I want to pass on to as many people as possible this knowledge, and positive experiences that have fundamentally changed my life.
                    </p>
            </div>
        </div>
        <div class="homeRow ">
            <!-- <div class="firstStep"> -->
                        <button mat-raised-button color="primary" [routerLink]="'/yogaForBeginners'">First step</button>
                   
            <!-- </div> -->
            <!-- <div></div> -->
        </div>
    </div>
    <div  class="homepageC backgroundImage">
        <div  id="contacts" class="theEnd"></div>
        <div class="homeRow reverse opacity">
                <div class="contactdetails ">
                        <!-- <mat-card class="contactCard"> -->
                                <!-- <mat-card-header></mat-card-header> -->
                                <mat-list role="list">
                                    <mat-list-item role="listitem">
                                        <i class="material-icons contactIcon">phone</i>+4474123456789
                                    </mat-list-item>
                                    <mat-list-item role="listitem">
                                        <i class="material-icons contactIcon">email</i>
                                        <a href="mailto:eudoxia87@gmail.com"> eudoxia87@gmail.com</a>
                                    </mat-list-item>
                                    <mat-list-item role="listitem">
                                        <i class="material-icons contactIcon">location_city</i>
                                        West Acton, London
                                    </mat-list-item>
                                </mat-list>
                        <!-- </mat-card> -->
                </div>
                <section  class="description contactInfo">
                        <h2  >Contact</h2> 
                        <p class="">        
                           If you have a question about me, about yoga or just want to chat, pleaase feel free to drop me a line or call me. 
                        </p>
                    </section>
            </div>
    </div>
</div>














<!-- <div>
    <mat-card class="card">
            <mat-card-header class="cardTitle">About Me</mat-card-header>
            <div class="section">
                <div class="firstPara">
                    <p>My story begins when I arrived to England. 
                            This is where I first met Yoga.
                            Sport always been an important part of my life, so I was open to trying it out.
                            First I just practiced at home, watching videos, after I decided to go to my local gym, where I attended to yoga (Hatha) and Pilates classes.
                            When I was stepping on the yoga mat and started practicing Surya Namaskar, it was a fantastic feeling, physically and mentally filled up me, I was reborn.
                    </p>
                </div>
                <div class="firstPic">
                    <img>
                </div>
            </div>
    </mat-card>
</div>
<div>
    <mat-card class="card">
            <mat-card-header class="cardTitle">Yoga with Me</mat-card-header>
            <div class="section">
                <div class="firstPic">
                    <img>
                </div>
                <div class="firstPara">
                    <p>After that, I was searching to the opportunity to practicing yoga and I decided to change my lifestyle and that I could focus on yoga. Therefore I decided to apply in a 200 hour yoga teacher training course.
                        That's how I found Elton Heather's yoga course. The training was very diverse. I learned a lot of things about Asanas and thus meaningful practices that can help purify.
                        She taught us that yoga is more than just exercise, not just a series of asanas, it's much more.
                        I would like to proceed to be better myself, and push my limits even further and show it to others how can they practice yoga and relax as a sport what can move every muscle in the whole body. 
                    </p>
                </div>
            </div> -->
    <!-- </mat-card>
</div>
<div>
    <mat-card class="card"> -->
            <!-- <mat-card-header class="cardTitle">Yoga with Me</mat-card-header> -->
            <!-- <div class="section">
                <div class="firstPara">
                    <p>        
                        Other than yoga I do different sports as well, like indoor climbing and practicing contortionist. I like the deep and slow stretching. 
                        Iona Luvsandorj Denning is my performer contortion trainer. She works on our adequate flexibility, handstand and contortion during the class. Help us to keep the right positions in the stretching.
                        I would like to pass through all of this knowledge and experience to my students.
                        I not want to just practice yoga, I want to pass on to as many people as possible this knowledge, and positive experiences that have fundamentally changed my life.
                    </p>
                </div>
                <div class="firstPic">
                    <img>
                </div>
            </div>
    </mat-card>
</div>


<div class="firstStep">
    <button mat-raised-button color="primary" [routerLink]="'/yogaForBeginners'">First step</button>
</div>
<mat-card class="card">
    <div class="contactCard">
        <mat-card >
                <mat-card-header>Contact</mat-card-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">+4474123456789</mat-list-item>
                    <mat-list-item role="listitem">eudoxia87@gmail.com</mat-list-item>
                    <mat-list-item role="listitem">West Acton, London</mat-list-item>
                </mat-list>
        </mat-card>
    
    </div>
</mat-card> -->