

<div class="homepageC">
        <div class="homeRow">
            <div class="homeImg">
                <img src=".\assets\IMG_20191220_135803_1.jpg" >
            </div>
            <div class="description">
                <p>       
                    Would you like to work on your strength and flexibility, learn more from yoga methods and meditation to reach your goals?
                    Yoga can help to feel better yourselves as mentally and physically. Its relaxing you after the long busy days, and give us vitality.
                    Yoga helps purify, improve digestion, positively give shape our body, healing our spine health and play an important role in stress relief.
                    I am sure that if you try it, you will feel these positive effects in the short term.
                </p>
            </div>
        </div>
</div>

<!-- <div>
    <mat-card class="card">
        <mat-card-header class="cardTitle">Yoga for beginners</mat-card-header>
        <div class="section">
            <div class="firstPic">
                <img>
            </div>
            <div class="firstPara">
                <p>       
                    Would you like to work on your strength and flexibility, learn more from yoga methods and meditation to reach your goals?
                    Yoga can help to feel better yourselves as mentally and physically. Its relaxing you after the long busy days, and give us vitality.
                    Yoga helps purify, improve digestion, positively give shape our body, healing our spine health and play an important role in stress relief.
                    I am sure that if you try it, you will feel these positive effects in the short term.
                </p>
            </div>
        </div>
    </mat-card>
</div> -->